/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 18, 2024, 3:47:20 PM
    Author     : zbqb9x
*/

h5, h6 {
    border-left: none;
}

body {
    margin: 0;
    padding: 0;
    height: 90vh;
}

#main-page {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #f2f2f2;
    padding: 20px;
}

#content-page {
    position: relative;
    top: 30%;
    left: 0;
    width: 100%;
    max-height: 70%;
    background-color: #fff;
    padding: 20px;
    overflow-x: visible;
}

#tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabs li {
    margin-right: 10px;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    cursor: pointer;
}

#tabs li.active {
    background-color: orange;
    border-radius: 5px;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

#listBtn {
    display: block;
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

#listBtn:hover {
    background-color: orange;
    color: white;
}

#save-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 200px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

#save-button:hover {
    background-color: orange;
    color: white;
}

#draft-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 200px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

#toggle_01, #toggle_02, #toggle_03, #toggle_04, #toggle_05, #toggle_06, #toggle_07, #toggle_08, #toggle_09, #toggle_10, #toggle_11, #toggle_12, #toggle_13, #toggle_14, #toggle_15, #toggle_16, #toggle_17, #toggle_18, #toggle_19, #toggle_20 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#toggle_01:checked ~ dialog, #toggle_02:checked ~ dialog, #toggle_03:checked ~ dialog, #toggle_04:checked ~ dialog, #toggle_05:checked ~ dialog, #toggle_06:checked ~ dialog, #toggle_07:checked ~ dialog, #toggle_08:checked ~ dialog, #toggle_09:checked ~ dialog, #toggle_10:checked ~ dialog,
#toggle_11:checked ~ dialog, #toggle_12:checked ~ dialog, #toggle_13:checked ~ dialog, #toggle_14:checked ~ dialog, #toggle_15:checked ~ dialog, #toggle_16:checked ~ dialog, #toggle_17:checked ~ dialog, #toggle_18:checked ~ dialog, #toggle_19:checked ~ dialog, #toggle_20:checked ~ dialog {
    display: block;
    position: absolute;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 10px;
    z-index:1000;
}